:root {
  --textColor: #333;
  --inputFocusBorder: #35b5f4 !important;
  --searchBorder: #ccc;
  --searchInputBorder: #ccc;
  --searchActionBorder: #ccc;
  --searchActionHoverBackground: #ccc;
  --contentBackground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --textColor: #ccc;
    --searchBorder: black;
    --searchInputColor: white;
    --searchInputBorder: black;
    --contentBackground: #33373a;
    --searchActionBorder: black;
    --searchActionHoverBackground: #333;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 14px/1.4 -apple-system,
    BlinkMacSystemFont,
    "San Francisco",
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Helvetica Neue",
    Arial,
    sans-serif;
  color: var(--textColor);
  background-color: var(--contentBackground);
}

* {
  box-sizing: border-box;
}

.webview {
  height: 100%;
  width: 100%;
  border: none;
}

.webview:focus {
  outline: none;
}
